--- a/drivers/char/Kconfig
+++ b/drivers/char/Kconfig
@@ -7,6 +7,8 @@
 
 source "drivers/tty/Kconfig"
 
+source "drivers/char/diag/Kconfig"
+
 config TTY_PRINTK
 	tristate "TTY driver to output user messages via printk"
 	depends on EXPERT && TTY
